<%= answer.reputation %> reputation <br>
<%= answer.content %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h5>Comments</h5>
      <% answer.comments.each do |comment| %>
        <%= comment.content %> - <%= comment.user.name %><br>
      <% end %>
      <br>
    </div>
  </div>