<h2><%= @user.name %></h2>

<h4>My Questions</h4>
<% @user.my_questions.each do |question| %>
  <%= link_to question.title, question_path(question.id) %><br>
<% end %>

<h4>My Favorites</h4>
<% @user.favorite_questions do |favorite| %>
  <%= link_to favorite.title, question_path(favorite.id) %><br>
<% end %>